<a href="https://colab.research.google.com/github/alfarisauliarahman/Intro-to-Programming/blob/main/Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Integers
Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0).

In [1]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

# Floats
Floats are numbers with fractional parts.

In [2]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

We can also specify a float with a fraction.

In [5]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

round() function lets you round a number to a specified number of decimal places.

In [6]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

# Booleans
Booleans represent one of two values: True or False. In the code cell below, z_one is set to a boolean with value True.

In [7]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

Next, z_two is set to a boolean with value False.

In [8]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

Booleans are used to represent the truth value of an expression. Since 1 < 2 is a true statement, z_three takes on a value of True.

In [9]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

Similarly, since 5 < 3 is a false statement, z_four takes on a value of False.

In [10]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

We can switch the value of a boolean by using not. So, not True is equivalent to False, and not False becomes True.

In [11]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

# Strings

In [12]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

You can get the length of a string with len().

"Hello, Python!" has length 14, because it has 14 characters, including the space, comma, and exclamation mark.

In [13]:
print(len(w))

14